body {
	background: lightblue;
	font-size: 14px;
}

p {
	color: #333;
}

h1,h2,h3,h4,h5 { 
	font-weight: normal;	
}

h1 {
	font-size: 42px;
}

.currency::after {
	content: "";
	font-size: 36px;
	background:red;
	padding: 10px;
	border-radius: 20px;
}

p::first-letter {
	color: red;
}


.large {
	font-size: 36px;
}

.shout {
	text-transform: uppercase;
	font-size: 64px;
}

.border {
	border: 5px solid purple;
}